ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    bottom: 0;
    width: 100%;
}
li{
    float: left;
    font-size: 5vh;
}
.close{
    font-size: 5vh;
    cursor: pointer;
    font-weight: bolder;
}