body {
    background-image: url("imageResources/cupheadMenu.png");
    margin: 0; /* Remove default margin */
    padding: 0; /* Remove default padding */
    background-size: cover; /* Cover the entire body */
    background-position: center; /* Center the background image */
    background-repeat: no-repeat; /* Do not repeat the background image */
    height: 100vh; /* Make the body take up the entire viewport height */
    display: flex;
    background-color: #cccccc;
}

.left-band, .right-band {
    width: 20%;
    background: rgba(55, 84, 76, 0.7);
}

.center{
    width: 60%;
    text-align: center;
}

#welcomeMsg{
    color: rgba(255, 255, 255);
    font-weight: bolder;
    text-shadow: -1px 1px 0 darkgreen,
    1px 1px 0 darkgreen,
    1px -1px 0 darkgreen,
    -1px -1px 0 darkgreen;
    font-size: xxx-large;
}

.button{
    color: rgba(255, 255, 255);
    margin: 2%;
    font-size: xx-large;
    font-weight: bold;
    padding: 2%;
    background: rgba(55, 84, 76, 0.7);
    border: none;
}